@use "../base/color";
@use "../base/breakpoint";

main {
  .loading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @include breakpoint.lg {
    flex: 1;
  }
}
