@use "../base/typography";
@use "../base/breakpoint";

.filter_results {
  margin: 20px 16px;

  .filtered_title {
    @extend %typography-h3;
  }

  .result_list {
    margin-top: 24px;
  }

  .result_card {
    margin: 24px auto 0 auto;
  }

  @include breakpoint.md {
    margin: 53px 24px;
    .filtered_title {
      @include typography.h2;
    }
    .result_card {
      margin: 0;
      width: 229px;
    }
    .result_list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 17px;
      justify-items: center;
      margin-top: 40px;
    }
  }

  @include breakpoint.lg {
    .result_card {
      width: 330px;
    }
    .result_list {
      gap: 24px;
    }
  }
}
