$green-one: #3fb195;
$green-two: rgba(63, 177, 149, 0.2);
$green-three: rgba(63, 177, 149, 0.08);
$black-text-one: #222222;
$black-text-two: rgba(0, 0, 0, 0.6);
$black-text-three: rgba(0, 0, 0, 0.38);
$gray-one: rgba(0, 0, 0, 0.08);
$gray-two: #fafafa;
$gray-three: #fdfdfd;
$white: #ffffff;
